body {
    font: 8px "Century Gothic", Futura, sans-serif;
    margin: 16px;
    background-color: #204060;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .card-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 5px;
  }

  .arrow_hand {
    background-color: transparent;
    float: left;
    font-size: 8px;
    font-weight: bold;
    line-height: 34px;
    height: 99px;
    margin-right: 10px;
    margin-top: 8px;
    margin-left: 16px;
    padding: 0;
    text-align: center;
    width: 35px;
  }

  .card {
    background: rgb(191,191,191);
    border: 2px solid black;
    float: left;
    font-size: 8px;
    font-weight: bold;
    line-height: 34px;
    height: 99px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    width: 70px;
  }

  .card_hand {
    background: rgb(223,223,223);
    border: 2px solid gray;
    float: left;
    font-size: 8px;
    font-weight: bold;
    line-height: 34px;
    height: 99px;
    margin-right: 2px;
    margin-top: 8px;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    width: 70px;
  }

  .card_hand:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card_hand:hover ~ .card_hand {
    position: relative;
    left: 8px;
    transition: 0.4s ease-out;
  }

  .card_pile {
    background: rgb(127,127,127);
    border: 2px solid black;
    float: left;
    font-size: 8px;
    font-weight: bold;
    line-height: 34px;
    height: 99px;
    margin-right: 28px;
    margin-left: 20px;
    margin-top: 8px;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #111111;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 10px;
  }  