
{% extends "layout.html" %}
{% block content %}
    <h1>Mana Clash: Cards Page</h1>
    {% for card in cards_list %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ card.category }}</a>
                {% if card.category ==  'Creature' %}
                  <small class="text-muted">{{ card.creature_type }}</small>
                {% else %}
                  <small class="text-muted">{{ card.enchantment_type }}</small>
                {% endif %}
              </div>
              <h2><a class="article-title" href="#">{{ card.name }}</a></h2>
              {% if card.category ==  'Creature' %}
                <p class="article-content">ATK : {{ card.attack }} / DEF : {{ card.defense }}</p>
              {% else %}
                <p class="article-content">COST : {{ card.mana_cost }}</p>
                <p class="article-content">EFFECT : {{ card.effect }}</p>
              {% endif %}
            </div>
          </article>
    {% endfor %}
{% endblock content %}